<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ADM | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="no index, nofollow">
    <style>
        body {
            background: #000000d3 !important;
        }

        .logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    </style>
</head>


<header>
    {{> navbar}}
</header>

<body>
    <img class="logo" src="/images/logo.jpg" alt="" srcset="">

    {{> footer}}
</body>

</html>